<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mb-sm-1 footertext">
              <h4>Journal of Cardiac Interventions</h4>
              <p></p><p><strong>Journal of Cardiac Interventions (JCI)</strong> is an international 
                journal which spans the field of cardiovascular diseases.
                 JCI covers the length and breadth of cardiac and peripheral 
                interventions and therapeutics and 
                publishes all type....<a href="#">read more</a></p>
                  
          </div>
          <div class="col-md-4 mb-sm-1 footerlinks">
              <h5>Most Popular links</h5>
              <ul class="list-unstyled">
                  <!-- <li><a href="index.php"><i class="fa fa-angle-right" aria-hidden="true"></i>
                      Home</a></li> -->
                  
                   <li><a href = "#/authors"><i class="fa fa-angle-right" aria-hidden="true"></i>
                      Instructions for Authors</a></li> 
                  
                  <li><a href = "#/reviewers"><i class="fa fa-angle-right" aria-hidden="true"></i>
                    Instructions for Reviewers</a></li> 
                  <li><a href = "#/editors"><i class="fa fa-angle-right" aria-hidden="true"></i>
                    Instructions for Editors</a></li>        
                  <li><a routerLink="/submit"><i class="fa fa-angle-right" aria-hidden="true"></i>
                    Submit Manuscript</a></li>    
                  <!-- <li><a routerLink="/authors" routerLinkActive = "active"><i class="fa fa-angle-right" aria-hidden="true"></i>
                      Contact Us</a></li>
                      <li><a routerLink="/authors" routerLinkActive = "active"><i class="fa fa-angle-right" aria-hidden="true"></i>
                        Contact Us</a></li> -->
                  
              </ul>
          </div>
          <!-- <div class="col-md-4 mb-sm-1 footernewsletter">
                 <h5 class="mb-3">Sign up to our newsletter</h5>
                  <form method="post" class="needs-validation" novalidate="">
                      <div class="form-group"> 
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required="">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </div>
                      <div class="form-group"> 
                        <input type="email" class="form-control" id="email" placeholder="Enter email id" name="email" required="">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </div>
                      <div class="form-group form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="remember" required=""> 
                          I agree on terms.
                          <div class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Check this checkbox to continue.</div>
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
          </div> -->
      </div>
      <div class="footerdivider"></div>
      <div class="row">
          <div class="col-md-6 pt-2 footercopy">
              <small>Copyright © 2020 All rights reserved</small>
          </div>
          <div class="col-md-6 pt-2 text-right footerslinks">
              <a class="pl-2 pr-1"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="pl-2 pr-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
      </div>
  </div>
</footer>