

<div class="container padd">
    <div class="row">

<div class="col-lg-8">
<h3>Aims and scope</h3>
<p>The aim of Journal of Cardiac Interventions (JCI) is to gather 
research outcomes in the form of manuscripts, process the initial submitted
 data by subjecting to review process and enhance the refined content presentation
 following a standard editorial and publication protocol; thus producing world class
 articles conveying significant message in the field of Cardiology.</p>


<p>JCI is an international journal covering the field of Cardiovascular Diseases and includes cardiac 
(coronary and noncoronary) and peripheral interventions and therapeutics. JCI publishes peer-reviewed
 articles that encompass the entire field of interventional cardiovascular medicine: procedural techniques;
 complications of coronary intervention; case selection and management; catheter-based management of non-coronary
 arterial disease; anatomy and anatomic variants; pharmacology; and cardiovascular imaging and physiologic assessment.</p>           
</div>
<div class="col-lg-4">
    <app-quicklinks></app-quicklinks>
</div>
</div>
</div>

