<div class="container">
  <div class="row">
    
    <div class="col-lg-8 all-padd1">
      <div id="instructionsforeditors">
        <div>
          <h2>Guidelines for Editors</h2>

<p>Our editors are experts in their respective fields and are responsible for the peer review process and the content of the journal. Their role is to handle the peer review of manuscripts, make recommendation on the acceptance or rejection of a paper and attract high-quality submissions. Here are some guidelines for editors, based on COPE code of conduct and best practice guidelines for journal editors.</p>

<h5>Choosing reviewers</h5>

<p>Editors should ensure that appropriate reviewers are selected for submissions (i.e. individuals who are able to judge the work and are free from disqualifying competing interests).</p>

<p>Editors should ideally choose at least two reviewers to provide a report (the default on Manuscript Central is set to three) and ensure that not all of the reviewers chosen are recommended by the authors of the paper unless there is strong justification.</p>

<p>Editors should cease to use reviewers who consistently produce discourteous, poor quality or late reviews.
Editors should use a wide range of sources (not just personal contacts) to identify potential new reviewers (e.g. author suggestions, bibliographic databases).</p>

<h5>Review process</h5>

<p>Editors should deal with any papers assigned to them in a timely fashion so as to aim for an initial decision within 3 months.</p>

<p>Editors should endeavour to handle all papers assigned to them, irrespective of the paper’s subject area, and the return of a
 paper to a Section Editor for reassignment should only be exceptional. Section Editors try to assign papers appropriately but also
 to balance loads on individual editors across the Editorial Board; sometimes the assignment of a paper whose scope is 
 outside that of the assigned editor is unavoidable.</p>

<p>Editors should provide written feedback to authors as regards any decision made even if that decision apparently follows obviously from reviewers’ 
comments, in which case one or two sentences summarising the reviewers’ comments is appropriate.</p>
<p>Editors should be ready to justify any important deviation from the described peer review process (see Review and Appeals process).</p>
<p>Editors should require reviewers to disclose any potential competing interests before agreeing to review a submission.</p>
<p>Editors should monitor the performance of peer reviewers and take steps to ensure this is of high standard.</p>

<p>Editors should encourage reviewers to comment on</p>

<p>• Ethical questions and possible research and publication misconduct raised by submissions
 (e.g. unethical research design, inappropriate data manipulation and presentation).</p>
 
 <p>• The originality of submissions and to be alert to redundant publication and plagiarism</p>

<h5>Decisions</h5>


<p>Editors’ recommendation to accept or reject a paper for publication should be based on the peer
 reviews and their own view on the paper’s importance, originality and clarity, the study’s 
 validity and its relevance to the remit of the journal.</p>
<p>Editors can recommend to immediately reject a paper if the material does not meet the standard of the journal</p>
<p>Editors should not reverse a decision to accept a submission unless serious problems are identified with the submission.</p>
<p>New editors should not overturn decisions to publish submissions made by the previous editor unless serious problems are identified.</p>
<p>Editors should flag any case of suspected misconduct or disputed authorship with the editor-in-chief or the publisher.</p>


<h5>Editor-in-chief and Section Editors specific guidelines</h5>
<p>• The Section Editors should send reviewers’ comments to authors in their entirety unless they contain offensive or libellous remarks.</p>
<p>• The EiC/Section Editors have a duty to act if they suspect misconduct or if an allegation 
of misconduct is brought to them. This duty extends to both published and unpublished papers.</p>
<p>• The EiC/Section Editors should not simply reject papers that raise concerns about possible misconduct.
 They should first seek a response from those suspected of misconduct.</p>
<p>• The EiC/Section Editors should make all reasonable efforts to ensure that a proper investigation into alleged misconduct is conducted.</p>
<p>• The EiC should respond promptly to complaints and should ensure there is a way for dissatisfied complainants to take complaints further.
 This mechanism should be made clear on the journal’s website (see Review and Appeals process).</p>



        </div>
      </div>
    </div>
    <div class="col-lg-4">

      <div class="tab1">
        <!-- Right side section starts -->
        <div class="quickSt">Quick Links</div>
          <table class="table ">
            <tr>
              <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
                Journal metrics</td>
            </tr>
            <!-- <tr>
              <td>Acceptance rate</td>
              <td>12%
              </td>
            </tr>
            <tr>
              <td>Submission to final decision</td>
              <td>63 days</td>
            </tr>
            <tr>
              <td>Acceptance to publication</td>
              <td>77 days</td>
            </tr>
            <tr>
              <td>CiteScore</td>
              <td>0.580</td>
            </tr>
            <tr>
              <td>Impact Factor</td>
              <td>-</td>
            </tr> -->
            <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
              <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
              <td>$ 599<sup>*</sup></td>
            </tr>
            <tr>
              <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
              <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
              <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Reviewer Guidelines</td>
              <td><a routerLink="/reviewers"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
           
            <tr class="bgclr2">
              <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
              <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <!-- <tr class="bgclr3">
              <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
              <td></td>
            </tr> -->
            
      
            <!-- <i class="fa fa-car"></i>
            <i class="fa fa-car" style="font-size:48px;"></i>
            <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
          </table>
      
      
      </div>
    </div>


  </div>
</div>