<div class="container"> 
  <div class="row">
      <div class="col-lg-8 col-sm-4 bgclr abtext">
        <div class="abtus">

          About Us
        </div>
        <div class="borline"></div>
        <div class="abcnt abdiv">

          <p>Journal of Cardiac Interventions (JCI) is an international journal which spans the field of cardiovascular diseases.
            JCI covers the length and breadth of cardiac 
           and peripheral interventions and therapeutics and publishes all type of articles in the concerned field.</p>
           
           
           <p>The editors encourage authors to submit excellent articles on diagnosis, management, and treatment of Cardiovascular
            Diseases and other related fields. The journal also deals with basic science articles such as those related to anatomy, physiology, pathology, and genetics of Cardiovascular Diseases. Categories of articles accepted include Original Articles, Reviews, Case Reports, Images in Cardiology, case challenges, Editorials and Letters to the Editors. Please read the following instructions before you prepare the manuscript. Submitted manuscripts are peer reviewed and evaluated by two (or more) experts of the
            field. Acceptance decisions are made based solely on the quality of data, originality of ideas, and presentation.</p>
           
           
           <h6>Publication Frequency</h6>
           
           <p>Journal of Cardiac Interventions is published two times per year.</p>
           
           <h6>New Policy: Expedited Publication Decision</h6>
           
           <p>Additionally, JCI provides an Expedited Publication track for original work that communicates novel, influential and clinically impactful research.</p>
           
           
           <h6>Peer Review Process</h6>
           <p>Manuscripts will be submitted to two reviewers for evaluation of their significance 
           and soundness. Authors will be notified at every significant step in the peer-reviewing process.</p>
           
           
           
           <h6>Open Access Policy</h6>
           <p>This journal provides open access to all of it content on the principle that making research 
           freely available to the public supports a greater global exchange of knowledge. 
           Such access is associated with increased readership and increased citation of an author's work.</p>
           
           <h6>Why publish here?</h6>
           
           <p>Journal of Cardiac Interventions publishes papers covering the broad field of cardiovascular diseases.</p>
           
           <p>The priority of the journal is to promote research and increase knowledge on Cardiac Interventions, both in the theoretical and applied field.</p>
           
           <p>In its new electronic format, Journal of Cardiac Interventions guarantees:</p>
           <p>Online-First: rapid online visibility after acceptance</p>
           <p>Open Access: papers are available to the entire scientific community at no charge</p>
           <p>No page limit: large amount of space to publish extensive papers</p>
           <p>Supplemental material: sounds, short videos or original datasets can be published online</p>
           
           <p>Please contact 
             <a href="mailto:editor@journal-of-cardiac-interventions.com">editor@journal-of-cardiac-interventions.com</a> for further information.</p>
           
           
           </div>
    </div>
<div class="col-lg-4 col-sm-8 bgclr abtext toppadd">
  <!-- <div class="abtus">
    On the Cover Page
  </div>  
  <div class="borline"></div>
  <div class="abcnt abdiv">
    <p>Lorem Ipsum is simply dummy text of the printing ghghg and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
         specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in
           the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software 
      like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div> -->
  <div>
    <!-- Right side section starts -->
    <div class="quickSt">Quick Links</div>
      <table class="table">
        <tr>
          <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
            Journal metrics</td>
        </tr>
        <!-- <tr>
          <td>Acceptance rate</td>
          <td>12%
          </td>
        </tr>
        <tr>
          <td>Submission to final decision</td>
          <td>63 days</td>
        </tr>
        <tr>
          <td>Acceptance to publication</td>
          <td>77 days</td>
        </tr>
        <tr>
          <td>CiteScore</td>
          <td>0.580</td>
        </tr>
        <tr>
          <td>Impact Factor</td>
          <td>-</td>
        </tr> -->
        <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
          <td><i class="fa fa-money-bill"></i> APC &nbsp;</td>
          <td> $ 599<sup>*</sup></td>
        </tr>
        <tr>
          <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
          <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
          <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Reviewer Guidelines</td>
          <td><a routerLink="/reviewers"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
          <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr2">
          <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
          <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <!-- <tr class="bgclr3">
          <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
          <td></td>
        </tr> -->
        <!-- <i class="fa fa-car"></i>
        <i class="fa fa-car" style="font-size:48px;"></i>
        <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
      </table>
  </div>
  
</div>
  </div>
</div>