<div class="container">
  <div class="row">
    <div class="col-lg-12 tab1">
      <div>
        <h3 class="">Archive</h3>
        <table class="table">
          <tbody>
            <tr class="thead-dark">
              <th scope="row" class="blueColor">2022</th>
            </tr>
            <tr class="border">
              <a routerLink="/archive/volume-1-issue-1">
                <th scope="row" class="blueColor">Volume 1, Issue 1</th>
              </a>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>