<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">


      <div class="articlesinpress">
        Articles in Press | <span class="volume">Volume 1, Issue 1</span>
      </div>


      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-001.pdf" target="_blank">
              Alternative Support Strategy for High-Risk, Elective
              Percutaneous Coronary Intervention: Venoarterial
              Extracorporeal Membrane Oxygenation in Advanced
              Pulmonary Hypertension and Right Ventricular Dysfunction
            </a>
          </div>
          <div class="articleType">
            Case Report: <span>JCI-1-001</span>
          </div>
          <div class="articleAuthor">
            Mayank P Patel<sup>*</sup>, Cory G Madigan, Michael S Cahill
          </div>
          <div class="articlePDF">
            
            <button (click)="getArticleContent(1)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
              Article Abstract
            </button>
            | 
            <a class="" href="assets/articles/JCI-1-001.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>    
          </div>
        </div>
      </div>

      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-008.pdf" target="_blank">
              Failure of Computed Tomography Angiography to Detect a 
Large Fistula Connecting the Left Anterior Descending Artery 
to the Left Ventricle Circumflex Artery
            </a>
          </div>
          <div class="articleType">
            Case Report: <span>JCI-1-008</span>
          </div>
          <div class="articleAuthor">
            Nathan Zaher, Tarec Micho Ulbeh<sup>*</sup>, Abed Jabr, Thomas Vacek, M Chadi Alraies
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(2)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-1-008.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            
          </div>
        </div>
      </div>

      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-012.pdf" target="_blank">
              A Particular Case of MINOCA
            </a>
          </div>
          <div class="articleType">
            Case Report: <span>JCI-1-012</span>
          </div>
          <div class="articleAuthor">

            Luigi Nunziata<sup>*</sup>, Saverio Ambrosino, Luciano Carbone, Rosario Galasso, Vincenzo Ruggiero, Antonella Laezza, Vincenzo 
Nardiello, Tullio Niglio, Francesco Granata, Mario Volpicelli, Carmine Muto, Attilio Varricchio, Luigi Caliendo
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(3)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-1-012.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            
          </div>
        </div>
      </div>
      
      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-024.pdf" target="_blank">
              A Case Report of Recurrent Acute Myocardial Infarction with a 
              Peculiar Background
            </a>
          </div>
          <div class="articleType">
            Case Report: <span>JCI-1-024</span>
          </div>
          <div class="articleAuthor">
            Alexandru Achim<sup>*</sup>, Albrecht Schmidt, Heinrich Mächler, Wolfgang Marte, Robert Zweiker, Andreas Zirlik, Gabor G Toth
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(4)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-1-024.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            | 
            <a class="" href="assets/articles/A_Case_Report_of_Recurrent_Acute_Myocardial_Infarction_with_a_Peculiar_Background/video1.mp4" target="_blank">
              <button class="btn btn-2 btn-2a">
                Supplementary File (Video 1)
              </button>
            </a>
            
          </div>
        </div>
      </div>

      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-029.pdf" target="_blank">
              Balloon Angioplasty with Stent Implantation in Superior Vena 
Cava Stenosis in Pediatric Patients
            </a>
          </div>
          <div class="articleType">
            Research Article: <span>JCI-1-029</span>
          </div>
          <div class="articleAuthor">
            Antonio Sanchez Andres<sup>*</sup>, Beatriz Insa Albert, Jose I Carrasco Moreno
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(5)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-1-029.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            
            
          </div>
        </div>
      </div>

      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-1-035.pdf" target="_blank">
              Computational Fluid Dynamics Assessment of Omega 
Phenomenon; a Systolic Kinking of the Coronary Arteries in a 
Patient Presenting with Ischemia in the Absence of Coronary 
Artery Obstruction
            </a>
          </div>
          <div class="articleType">
            Research Article: <span>JCI-1-035</span>
          </div>
          <div class="articleAuthor">
            Bright Eric Ohene<sup>1</sup>, Yu-Jie Zhou<sup>1*</sup>, Gary S Mintz<sup>2</sup>, Shiwei Yang<sup>1</sup>,
   Shenjie Lu<sup>3,4</sup>, Zhi-Jian Wang<sup>1</sup>, Jaryl Ng<sup>3</sup>, Heerajnarain Bulluck<sup>5</sup>, 
Huiying Ang<sup>3</sup>, Fei Gao<sup>1</sup>, Hua Shen<sup>1</sup>, Changyan Lin<sup>1</sup>, Wei Liu<sup>1</sup>
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(6)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-1-035.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            
            
          </div>
        </div>
      </div>


<!-- 7 ARTICLE STARTS -->

<div class="titleBox">
  <div class="articleBox">
    <div class="articleTitle">
      <a href="assets/articles/JCI-1-040.pdf" target="_blank">
        Novel Treatment of Iatrogenic Annular Rupture and Cardiac
Tamponade during TAVR
      </a>
    </div>
    <div class="articleType">
      Case Report: <span>JCI-1-040</span>
    </div>
    <div class="articleAuthor">
      Michael Cryer<sup>1*</sup>, Ariana Ehsan<sup>2</sup>, Thomas Waggoner<sup>1,2</sup>
    </div>
    <div class="articlePDF">
      
        <button (click)="getArticleContent(7)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
          Article Abstract
        </button>
        | 
      <a class="" href="assets/articles/JCI-1-040.pdf" target="_blank">
        <button class="btn btn-2 btn-2a">
          Article PDF
        </button>
      </a>
    </div>
  </div>
</div>

<!-- 7 ARTICLE ENDS -->

<!-- 8 ARTICLE STARTS -->

<div class="titleBox">
  <div class="articleBox">
    <div class="articleTitle">
      <a href="assets/articles/JCI-1-043.pdf" target="_blank">
        Massive Functional Tricuspid Regurgitation with Right Heart
Failure Percutaneously Treated with Triclip System and ECMO
Assistance. Two Case Reports
      </a>
    </div>
    <div class="articleType">
      Case Report: <span>JCI-1-043</span>
    </div>
    <div class="articleAuthor">
      Elvis Brscic<sup>*</sup>, Gabriella Rovero, Katiuscia Testa, Pierpaolo Sori, Salvatore De Salvo, Sebastiano Marra
    </div>
    <div class="articlePDF">
      
        <button (click)="getArticleContent(8)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
          Article Abstract
        </button>
        | 
      <a class="" href="assets/articles/JCI-1-043.pdf" target="_blank">
        <button class="btn btn-2 btn-2a">
          Article PDF
        </button>
      </a>
    </div>
  </div>
</div>

<!-- 8 ARTICLE ENDS -->

<!-- 9 ARTICLE STARTS -->

<div class="titleBox">
  <div class="articleBox">
    <div class="articleTitle">
      <a href="assets/articles/JCI-1-055.pdf" target="_blank">
        Percutaneous Closure of Septal Mitral Paravalvular Leakage
in A Young Patient
      </a>
    </div>
    <div class="articleType">
      Review Article: <span>JCI-1-055</span>
    </div>
    <div class="articleAuthor">

      Gabriel Fernández Yáñez<sup>1</sup>, Reyes Álvarez José Miguel<sup>1*</sup>, Marco Alejandro Solórzano Vázquez<sup>1</sup>,
       Germán Ramón Bautista López<sup>1</sup>,
Antonio Olvera López<sup>2</sup>, Jorge Francisco Acuña Valerio<sup>1</sup>, Faviola Muñiz Castillo<sup>1</sup>,
 José Humberto Guerrero González<sup>3</sup>
    </div>
    <div class="articlePDF">
      
        <button (click)="getArticleContent(9)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
          Article Abstract
        </button>
        | 
      <a class="" href="assets/articles/JCI-1-055.pdf" target="_blank">
        <button class="btn btn-2 btn-2a">
          Article PDF
        </button>
      </a>
    </div>
  </div>
</div>

<!-- 9 ARTICLE ENDS -->


    </div>
    <div class="col-lg-4 col-md-4">
      
        <div class="tab1">
          <!-- Right side section starts -->
          <div class="quickSt">Quick Links</div>
            <table class="table ">
              <tr>
                <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
                  Journal metrics</td>
              </tr>
              <!-- <tr>
                <td>Acceptance rate</td>
                <td>12%
                </td>
              </tr>
              <tr>
                <td>Submission to final decision</td>
                <td>63 days</td>
              </tr>
              <tr>
                <td>Acceptance to publication</td>
                <td>77 days</td>
              </tr>
              <tr>
                <td>CiteScore</td>
                <td>0.580</td>
              </tr>
              <tr>
                <td>Impact Factor</td>
                <td>-</td>
              </tr> -->
              <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
                <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
                <td>$ 599<sup>*</sup></td>
              </tr>
              <tr>
                <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
                <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="bgclr">
                <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
                <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              
              <tr class="bgclr">
                <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
                <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="bgclr2">
                <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
                <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <!-- <tr class="bgclr3">
                <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
                <td></td>
              </tr> -->
              
        
              <!-- <i class="fa fa-car"></i>
              <i class="fa fa-car" style="font-size:48px;"></i>
              <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
            </table>
        
        
        </div>
       
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg text-justify" data-backdrop="static" id="abstractModal" tabindex="-1" role="dialog" aria-labelledby="abstractModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: #413c69; margin-top: 3%;">{{articleContent.articleTitle}}</h5>
        <!-- <button type="button" class="close close-ribbon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->

        <button type="button" data-dismiss="modal" class="close close-ribbon" aria-label="Close">
         <i class="fa fa-times" aria-hidden="true"></i>
          </button>
      </div>
      <div class="modal-body">
        <h5 style="color: #0458ab;"> Abstract</h5>
        <div [innerHTML]="articleContent.articleAbstract">

        </div>
      </div>
      <div class="modal-footer">
       
        <!-- <button class="btn btn-2 btn-2a">
          <a style="text-decoration: none;
          font-size: 17px; 
          color: white !important;" href="assets/articles/JCI-1-001.pdf" target="_blank" data-dismiss="modal"> Article PDF</a>
        </button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>