<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">


      <div class="articlesinpress">
        Articles in Press | <span class="volume">Volume 2, Issue 1</span>
      </div>


      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-2-058.pdf" target="_blank">
              A Case Series of Proliferative Deterioration in Adjacent Mitral
Valve Tissue after Mitral Transcatheter Edge-to-Edge Repair
in Patients with Degenerative Mitral Regurgitation
            </a>
          </div>
          <div class="articleType">
            Case Series: <span>JCI-2-058</span>
          </div>
          <div class="articleAuthor">
            Michael Cryer<sup>1,2*</sup>, Vikram Prasad<sup>2</sup>, Ariana Ehsan<sup>2</sup>, Thomas E Waggoner<sup>2,3</sup>
          </div>
          <div class="articlePDF">
            
            <button (click)="getArticleContent(1)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
              Article Abstract
            </button>
            | 
            <a class="" href="assets/articles/JCI-2-058.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>    
          </div>
        </div>
      </div>

      <div class="titleBox">
        <div class="articleBox">
          <div class="articleTitle">
            <a href="assets/articles/JCI-2-062.pdf" target="_blank">
              Bailout Angiography-Guided Three-Dimensional Wiring for
Intraprocedural Coronary Artery Occlusion: A Case Report
            </a>
          </div>
          <div class="articleType">
            Case Report: <span>JCI-2-062</span>
          </div>
          <div class="articleAuthor">
            Yutaka Tadano<sup>*</sup>, Takuro Sugie, Daitaro Kanno, Yoshifumi Kashima, Tsutomu Fujita
          </div>
          <div class="articlePDF">
            
              <button (click)="getArticleContent(2)" class="btn btn-2 btn-2a" data-toggle="modal" data-target="#abstractModal">
                Article Abstract
              </button>
              | 
            <a class="" href="assets/articles/JCI-2-062.pdf" target="_blank">
              <button class="btn btn-2 btn-2a">
                Article PDF
              </button>
            </a>
            
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4">
      
        <div class="tab1">
          <!-- Right side section starts -->
          <div class="quickSt">Quick Links</div>
            <table class="table ">
              <tr>
                <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
                  Journal metrics</td>
              </tr>
              <tr class="alert alert-info">   
                <td><i class="fa fa-money-bill"></i>&nbsp;Archive</td>
                <td><a routerLink="/archive"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="alert ">   <!--style="background-color: cadetblue;" -->
                <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
                <td>$ 599<sup>*</sup></td>
              </tr>
              <tr>
                <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
                <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="bgclr">
                <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
                <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="bgclr">
                <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
                <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr class="bgclr2">
                <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
                <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <!-- <tr class="bgclr3">
                <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
                <td></td>
              </tr> -->
              
        
              <!-- <i class="fa fa-car"></i>
              <i class="fa fa-car" style="font-size:48px;"></i>
              <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
            </table>
        
        
        </div>
       
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg text-justify" data-backdrop="static" id="abstractModal" tabindex="-1" role="dialog" aria-labelledby="abstractModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: #413c69; margin-top: 3%;">{{articleContent.articleTitle}}</h5>
        <!-- <button type="button" class="close close-ribbon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->

        <button type="button" data-dismiss="modal" class="close close-ribbon" aria-label="Close">
         <i class="fa fa-times" aria-hidden="true"></i>
          </button>
      </div>
      <div class="modal-body">
        <h5 style="color: #0458ab;"> Abstract</h5>
        <div [innerHTML]="articleContent.articleAbstract">

        </div>
      </div>
      <div class="modal-footer">
       
        <!-- <button class="btn btn-2 btn-2a">
          <a style="text-decoration: none;
          font-size: 17px; 
          color: white !important;" href="assets/articles/JCI-1-001.pdf" target="_blank" data-dismiss="modal"> Article PDF</a>
        </button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>