<div class="container">
  <div class="row">
    <div class="col-lg-8 tab1">
      <router-outlet></router-outlet>
    </div>
<div class="col-lg-4 tab1">
  <div>
    <!-- Right side section starts -->
    <div class="quickSt">Quick Links</div>
      <table class="table">
        <tr>
          <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
            Journal metrics</td>
        </tr>
        <tr class="alert alert-info">   
          <td><i class="fa fa-money-bill"></i>&nbsp;Articles in Press</td>
          <td><a routerLink="/articlesinpress"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        
        <tr class="alert ">   
          <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
          <td>$ 599<sup>*</sup></td>
        </tr>
        <tr>
          <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
          <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Reviewer Guidelines</td>
          <td><a routerLink="/reviewers"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
          <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr">
          <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
          <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <tr class="bgclr2">
          <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
          <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
        <!-- <tr class="bgclr3">
          <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
          <td></td>
        </tr> -->
        <!-- <i class="fa fa-car"></i>
        <i class="fa fa-car" style="font-size:48px;"></i>
        <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
      </table>
  </div>

</div>
</div>
</div>