
<div>
  <!-- Right side section starts -->
  <div class="quickSt">Quick Links</div>
    <table class="table">
      <tr>
        <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
          Journal metrics</td>
      </tr>
      <!-- <tr>
        <td>Acceptance rate</td>
        <td>12%
        </td>
      </tr>
      <tr>
        <td>Submission to final decision</td>
        <td>63 days</td>
      </tr>
      <tr>
        <td>Acceptance to publication</td>
        <td>77 days</td>
      </tr>
      <tr>
        <td>CiteScore</td>
        <td>0.580</td>
      </tr>
      <tr>
        <td>Impact Factor</td>
        <td>-</td>
      </tr> -->
      <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
        <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
        <td>$ 599<sup>*</sup></td>
      </tr>
      <tr>
        <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
        <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
      </tr>
      <tr class="bgclr">
        <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
        <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
      </tr>
      <tr class="bgclr">
        <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Reviewer Guidelines</td>
        <td><a routerLink="/reviewers"><i class="fa fa-arrow-right"></i></a></td>
      </tr>
      <tr class="bgclr">
        <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
        <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
      </tr>
      <tr class="bgclr2">
        <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
        <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
      </tr>
      <!-- <tr class="bgclr3">
        <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
        <td></td>
      </tr> -->
      <!-- <i class="fa fa-car"></i>
      <i class="fa fa-car" style="font-size:48px;"></i>
      <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
    </table>
</div>