<div class="container">
  <div class="row">
    
    <div class="col-lg-8 all-padd1">
      <div id="reviewers">
        <div>
          <h2>Guidelines for Reviewers</h2>
          
            <p>The reviewer report should comprehensively critique the submission and consist
               of much more than a few brief sentences. JIC does not require a specific structure
                for reports, however, a suggested format is:
          </p>
          <p>•	Summary</p>
<p>•	Major issues</p>
<p>•	Minor issues</p>
<p>We encourage reviewers to help authors improve their manuscript. The report should give constructive analysis to authors, particularly where revisions are recommended. Where reviewers do not wish authors to see certain comments, these can be added to the confidential comments to the Academic Editor.</p>
<p>While expectations vary by discipline, some core aspects that should be critiqued by reviewers may include:</p>
<p>•	Are the research questions valid?</p>
<p>•	Is the sample size sufficient?</p>
<p>•	Is there necessary ethical approval and/or consent and was the research ethical?</p>
<p>•	Are the methods and study design appropriate for answering the research question?</p>
<p>•	Do the experiments have appropriate controls?</p>
<p>•	Is the reporting of the methods, including any equipment and materials, sufficiently detailed that the research might be reproduced?</p>
<p>•	Are any statistical tests used appropriate and correctly reported?</p>
<p>•	Are the figures and tables clear and do they accurately represent the results?</p>
<p>•	Has previous research by the authors and others been discussed and have those results been compared to the current results?</p>
<p>•	Are there any inappropriate citations, for example, not supporting the claim being made or too many citations to the authors' own articles?</p>
<p>•	Do the results support the conclusions?</p>
<p>•	Are limitations of the research acknowledged?</p>
<p>•	Is the abstract an accurate summary of the research and results, without spin?</p>
<p>•	Is the language clear and understandable?</p>
<p>•	Does the paper discuss novel and/or unpublished work?</p>
<p>•	Within its field of specialization, is the topic important?</p>
<p>•	The study provides limited new information?</p>
<p>•	How is this scientific significance likely to change over the next 5 years?</p>
<p>To help authors receive timely reviews, reviewer reports should be submitted via the manuscript tracking system on or before the agreed deadline. Reviewers should contact the journal if they are unable to meet the deadline so an alternative date can be arranged.</p>

<p>We encourage reviewers to focus their reports on objectively critiquing the scientific aspects of the submission, including the soundness of the methodology and whether the conclusions can be supported by the results. Comments may also be given on novelty and the potential impact of the work. At the end of their review, we ask reviewers to recommend one of the following actions:</p>
<p>•	Publish Unaltered</p>
<p>•	 Re-review after thoroughly revise as noted</p>
<p>•	Accepted with major revisions</p>
<p>•	Accepted with minor revisions</p>
<p>•	Reject: Manuscript is flawed or not sufficiently novel</p>


<p>However, it is important to note that the overall decision will be made by the Academic Editor.</p>

<h5>Applications to Review</h5>

<p>We appreciate applications to join our community of peer reviewers. Our Academic Editors select reviewers on a manuscript-by-manuscript basis. In each case they invite the most appropriate scientists from their own network or via our recommendation list. To ensure we have your up-to-date contact details, interested reviewers should register for a user account.</p>


          </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="tab1">
        <!-- Right side section starts -->
        <div class="quickSt">Quick Links</div>
          <table class="table ">
            <tr>
              <td colspan="2"><i class="fa fa-leanpub" style="font-size:25px;color:red"></i>
                Journal metrics</td>
            </tr>
            <!-- <tr>
              <td>Acceptance rate</td>
              <td>12%
              </td>
            </tr>
            <tr>
              <td>Submission to final decision</td>
              <td>63 days</td>
            </tr>
            <tr>
              <td>Acceptance to publication</td>
              <td>77 days</td>
            </tr>
            <tr>
              <td>CiteScore</td>
              <td>0.580</td>
            </tr>
            <tr>
              <td>Impact Factor</td>
              <td>-</td>
            </tr> -->
            <tr class="alert alert-info">   <!--style="background-color: cadetblue;" -->
              <td><i class="fa fa-money-bill"></i>&nbsp;APC</td>
              <td>$ 599<sup>*</sup></td>
            </tr>
            <tr>
              <td><i class="fa fa-folder-open" style="font-size:25px; color: brown;"></i>&nbsp;Submit</td>
              <td><a routerLink="/submit"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Author Guidelines</td>
              <td><a routerLink="/authors"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            
            <tr class="bgclr">
              <td><i class="fa fa-wpforms" style="font-size:25px; color: brown;"></i>&nbsp;Editor Guidelines</td>
              <td><a routerLink="/editors"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <tr class="bgclr2">
              <td><i class="fa fa-users"  style="font-size:25px; color: brown;"></i>&nbsp;Editorial Board</td>
              <td><a routerLink="/editorialboard"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <!-- <tr class="bgclr3">
              <td><small><sup>*</sup>We want grow, we are not concerned about fee</small></td>
              <td></td>
            </tr> -->
            
      
            <!-- <i class="fa fa-car"></i>
            <i class="fa fa-car" style="font-size:48px;"></i>
            <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->
          </table>
      
      
      </div>
     
    </div>
  </div>
</div>