<div class="container padd1">
  <div class="row">
    <div class="col-lg-8">
      <h4 style="color: #3399FF;">Editorial Board</h4>
      <hr>
      <div class="text-center">
        <div style="font-weight: 600; font-size: 22px;color: #3399FF;">Editor-in-Chief</div>
        <div style="font-weight: 500; font-size: 20px;">Tsutomu FUJITA</div>
        <div>Interventinal Cardiolgist <br>
          President of Sapporo Heart Center Sapporo Cardiovascular Clinic, Sapporo, Hokkaido, Japan</div>
      </div>
      <hr class="d-none">
      <!-- Associate Editor starts -->
      <h5 class="text-center d-none" style="padding-bottom: 10px;color: #3399FF;">Associate Editor</h5>
      <div class="row d-none">
        <div class="col-lg-6 text-center">
          <p><span class="ediNames" style="font-size: 18px"> Grace van Leeuwen</span> <br> 
            <span style="font-size: 15px"> Pediatric Cardiology <br>
            Senior Attending CICU Sidra Medicine, Qatar
          </span>
        </p>
        </div>
        <div class="col-lg-6 text-center">
          <p><span class="ediNames" style="font-size: 18px">Sudip Dutta Baruah</span> <br> 
            <span style="font-size: 15px">

              Assistant Professor <br>
              Pediatric Cardiac Surgery Division <br>
              Sree Chitra Tirunal Institute For Medical & Technology (SCTIMST)<br>
              Thiruvananthapuram, Kerala, India
            </span>
            </p>
        </div>
      </div>
      <hr>
      <!-- Associate Editor Ends -->
      <!-- Editorial Board Members starts -->
      <h6 class="text-center" style="padding-bottom: 10px;color: #3399FF;">Editorial Board Members</h6>
      <div class="row">
        <div class="col-lg-6">
          <p><span class="ediNames"> Elena Vladimirovna Reznik</span> <br> 
            Professor, Department of Internal Medicine <br>
             Russian National Research Medical University <br>
              N.I. Pirogov, Moscow, Russia</p>
        </div>
        <div class="col-lg-6">
          <p><span class="ediNames"> Andrea Montalto</span> <br> 
            Cardiac Surgeon <br> San Camilo Hospital <br>
            Rome, Italy</p>
        </div>
        

      </div>
      <div class="row">
        <div class="col-lg-6">
          <p><span class="ediNames">Sam Zeraatain Nejad Davani</span> <br> 
            Chief of IUMS Department of Transplant and Cardiac Surgery<br>
            IRAN University of Medical Sciences (IUMS)<br>
            Tehran, Iran</p>
        </div>
        <div class="col-lg-6">
          <p><span class="ediNames"> Brunilda Alushi</span> <br> 
            Interventional Cardiology and Cardiovascular Imaging, Fellow of the European Society of Cardiovascular Imaging
            Charite´ Medical University Berlin and Helios Clinics Erfurt, Germany
            </p>        
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <p><span class="ediNames"> Verena Veulemans</span> <br> 
            Division of Cardiology, Pulmonary Diseases and Vascular Medicine <br>
            University Hospital Düsseldorf <br>
            Moorenstr. 5, 40225 Düsseldorf, Germany</p>
        </div>
        <div class="col-lg-6">
          <p><span class="ediNames">Shinichiro Ikeda</span> <br> 
            Cardiothoracic Surgery Surgical Associate<br>
            Maimonides Medical Center<br>
            Brooklyn, New York, United States</p>         
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <p><span class="ediNames">Anand Ahuja</span> <br> 
            Interventional Cardiologist & Director<br>
            Rhythm Heart Institute<br>
            Vadodara, Gujarat, India</p>
        </div>
        <div class="col-lg-6">
          <p><span class="ediNames">Mikhail Rudenko</span> <br> 
            Senior Researcher<br>
            Laboratory of Human Cardiovascular System<br>
            Russian New University, Moscow, Russia</p>         
        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-6">
          <p><span class="ediNames">Diego Vilela Santos</span> <br> 
            Scientific Director<br>
            Coronary and Structural Interventional<br>
            Incor Natal, Rio Grande do Norte, Brazil</p>         
        </div>
        <div class="col-lg-6">
          <p><span class="ediNames">Kulpreet Barn</span> <br> 
            Division Director of Advanced Heart Failure<br>
            Deborah Heart and Lung Center<br>
            Browns Mills, NJ, United States</p>  
        </div>
      </div>


      <div class="row">
        
        <div class="col-lg-6">
          <p><span class="ediNames">Neil M. Gheewala</span> <br> 
            Assistant Director of Structural Heart Diseases<br>
            Tucson Medical Center<br>
            Tucson, United States</p>  
        </div>

        <div class="col-lg-6">
          <p><span class="ediNames">Mauricio Velado</span> <br> 
            Pediatric Cardiology Consultant<br>
            Hospital Benjamin Bloom - San Salvador - El Salvador</p>  
        </div>
      </div>
</div>
<div class="col-lg-4">
  <app-quicklinks></app-quicklinks>
</div>
</div>
</div>