
<div class="container padd">
    <div class="row">

<div class="col-lg-8">
<h2>Article Processing Charges</h2>

<p>Journal of Cardiac Interventions is a fully open access journal. The published content on this platform is available to everyone for free of charge. To be able to provide open access publication, we finance publication through article processing charges (APC); these are usually covered by the publishing authors' institutes or research funding bodies. </p>

<p>The Article Processing Charge for the journal is $599. The APC to be paid by the author only after the acceptance of the paper.</p>

<p>Journal of Cardiac Interventions will use this income to cover the cost of our operation and editorial work. This is the only income to support our journal. The APC helps us for developing and maintaining our website, content marketing costs, preparation in various formats for online publication, inclusion in CrossRef and other databases, etc.</p>

<h5>Refund policy</h5>

<p>Once an article has been accepted for publication, any Article Processing Charge on the article becomes due. The corresponding or the submitting author takes the responsibility for the Article Processing Charge, and there will not be any refunds.</p>

<h5>Waivers</h5>

<p>JCI operates a transparent discount and waiver policy to help and support researchers who are unable to meet some or all of the cost associated with publishing open access.</p>
</div>
<div class="col-lg-4">
    <app-quicklinks></app-quicklinks>
</div>
</div>

