<div class="container divsty">
  <h3>Submit Manuscript</h3>
  <table class="table table-bordered">
    <tr>
      <td>Want to Submit Manuscript, Just mail to</td>
      <td><a href="mailto:editor@journal-of-cardiac-interventions.com">editor@journal-of-cardiac-interventions.com</a></td>
    </tr>
    <tr>
      <td>Want to know about Instructions for Authors, find it here</td>
      <td><a routerLink="/authors" 
        routerLinkActive = "active">Instructions for Authors</a></td>
    </tr>
    <tr>
      <td>
        Want to know how the review of a paper will happen, <br>
        we have designed Instructions for reviwers as well
      </td>
      <td>
        <a routerLink="/reviewers" 
        routerLinkActive = "active">Instructions for Reviewrs</a>
      </td>
    </tr>
    <tr>
      <td>Want to know about Instructions to editors</td>
      <td>
        <a routerLink="/editors" 
        routerLinkActive = "active">Instructions for Editors</a>
      </td>
    </tr>
      <tr>
        <td>Want to support us further</td>
        <td><a href="mailto:editor@journal-of-cardiac-interventions.com">Mail us</a></td>
      </tr>
    
  </table>
</div>